{% extends "auctions/layout.html" %}

{% block body %}
<h2><i class="fa-solid fa-eye"></i> My Watchlist</h2>

<div class="row mt-4">

{% for listing in listings %}

    
    <div class="col-md-4 mb-4">
        <div class="card">
            <img class="card-img-top mt-3" src="{{ listing.imageUrl }}" alt="{{ listing.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text font-weight-bold">€ {{ listing.price|floatformat:2 }}</p>
                {% if listing.isActive %}
                <a href="{% url 'listing' id=listing.id %}" class="btn btn-info">Details</a>
                {% else %}
                <p class="btn btn-danger" disabled>Item sold</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endfor %}
</div>

{% endblock %}