{% extends "network/layout.html" %}

{% block body %}

<h1>Profile</h1>

{% if user.is_authenticated %}

<h2 id="user-profile">{{ username }}</h2>


<div class="user-info">

    <p>
        <span id="followers">{{ followed.count }}</span></strong> followers
        <span>  |  </span>
        <span id="following">{{ follower.count }}</span></strong> following
    </p>

    <div class="follow-button my-3">
        {% if user != userProfile %}

        {% csrf_token %}

        <button id="follow-btn" class="btn {% if isFollowing %}btn-danger{% else %}btn-success{% endif %}"
            data-isfollowing="{{ isFollowing|yesno:" true,false" }}" data-userid="{{ userProfile.id }}">
            <i id="follow-icon" class="fa-solid {% if isFollowing %}fa-eye-slash{% else %}fa-eye{% endif %}"></i>
            <span id="btn-text">{% if isFollowing %}Unfollow{% else %}Follow{% endif %}</span>
        </button>
        </form>

        {% endif %}


    </div>

</div>

 <h2>{{ userProfile }}'s Posts</h2>

{% include "network/posts.html" %}


{% else %}
<p>You must be logged in to view this page.</p>


{% endif %}


{% endblock %}