.post {
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 10px;
    margin: 10px 0;
    background-color: #fbfdffcc; /* AliceBlue with 80% opacity */
}
.post-date {
    color: rgb(28, 165, 211);
}

.post-content {
    font-size: 1.2em;
}

.post-author {
    color: #031589;
}

.like-star, #likes {
    color: orange;
}

#followers, #following {
    font-weight: 500;
}

a {
    text-decoration: none;
    color:#031589;
}